# Copy file nay thanh .env roi dien thong tin vao
# cp .env.example .env

TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here
DAC_RPC_URL=https://rpctest.dachain.tech
DAC_CHAIN_ID=21894
SEND_BATCH_SIZE=3
SEND_RETRY_LIMIT=4
SEND_RETRY_WAIT_MS=7000
SEND_RPC_RETRY_LIMIT=4
SEND_DELAY_MS=1500
